@layout HomeLayout
@page "/cardetails/{CarId:int}"
@inject NavigationManager NavManager
@inject HttpClient Http

<MainBanner H1="Wypożyczalnia samochodów, która spełnia Twoje oczekiwania" H4="Samochody"></MainBanner>

<div class="bg-c3 container p-1 my-5 form-rounded text-center">
    @if (!string.IsNullOrEmpty(Model.Image))
    {
        <img src="@(Http.BaseAddress + "/img/" + Model.Image)" class="img-fluid w-100 form-rounded" alt="Responsive image">
    }
    <h1 class="p-3 tx-c4 fw-bold">@Model.CarsModel.BrandName @Model.CarsModel.ModelName</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-7 p-4">
            <div class="bg-white pt-5 p-3 form-rounded text-center">
                <h3>Dane techniczne</h3>
                <table class="table">
                    <tr>
                        <td class="text-end col-6 pt-2 px-1">ROK PRODUKCJI</td>
                        <td class="text-start col-6 pt-2 px-1">@Model.Year</td>
                    </tr>
                    <tr>
                        <td class="text-end col-6 pt-2 px-1">RODZAJ PALIWA</td>
                        <td class="text-start col-6 pt-2 px-1">@Model.Fuel.ToUpper()</td>
                    </tr>

                    @foreach (var item in Model.CarAttributes)
                    {
                        <tr>
                            <td class="text-end col-6 pt-2 px-1">@item.Name.ToUpper()</td>
                            <td class="text-start col-6 pt-2 px-1">@item.Value.ToUpper()</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-xl-5 p-4">
            <div class="bg-c1 tx-c3 pt-5 p-3 form-rounded text-center">
                <h3>Oferta</h3>
                <table class="table tx-c3">
                    @if (Model.Offers.Any())
                    {
                        foreach (var item in Model.Offers)
                        {
                            <tr>
                                <td class="pt-2 px-1 h4">@item.Branch.Name</td>
                                <td class="text-end pt-2 px-1">Cena za godzinę</td>
                                <td class="pt-2 px-1">@item.PricePerHour</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-end pt-2 px-1">Cena za dzień</td>
                                <td class="pt-2 px-1"> @item.PricePreDay</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h4>Brak ofert</h4>
                    }
                </table>
            </div>
        </div>
    </div>
    <a href="/cars" class="btn bg-c3 form-rounded col-3 col-lg-2 col-xl-1 ms-auto d-block mb-2">Wróć</a>
</div>

@code {
    [Inject]
    public IHomeService homeService { get; set; }

    public string Message { get; set; } = string.Empty;

    [Parameter]
    public int CarId { get; set; }

    public GetCarQueryVM Model { get; set; } = new GetCarQueryVM();

    protected async override Task OnInitializedAsync()

    {
        var response = await homeService.GetCar(new GetCarQuery() { CarId = CarId });

        if (response.Success)
        {
            Model = response.Data;
        }
        else
        {
            NavManager.NavigateTo("/cars");
        }
    }
}
