@inject NavigationManager NavManager
@layout UserLayout
@page "/offers"
@attribute [Authorize(Roles = "Admin, Employee")]

<UserBanner H1="Lista ofert"></UserBanner>

<div class="container">

    <Items Parameters="@Parameters" EnableAdd="true" EnablePagination="true" EnableSearch="true" GoSearch="@GoSearch" PageSizeChange="@PageSizeChange" PageChange="@PageChange" AddNew="@AddOffer">
        <Body>
            @if (Model.Any())
            {
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="text-start">Nazwa</th>
                            <th class=""></th>
                            <th class="">Oddział</th>
                            <th class="">Cena za godzinę</th>
                            <th class="">Cena za dzień</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="@(InputClassId == item.Id ? InputClass : "")">
                                <td class="text-start">@item.Car.CarsModel.BrandName.ToUpper() <br /> @item.Car.CarsModel.ModelName.ToUpper()</td>
                                <td class="">VIN: @item.Car.Vin.ToUpper() <br /> REJESTRACJA: @item.Car.PlaceNumber.ToUpper()</td>
                                <td class="">@item.Branch.Name.ToUpper()</td>
                                <td class=""><InputNumber class="form-control form-rounded listInput text-center" @bind-Value="@item.PricePerHour" placeholder="Model" @onfocusout="@(e => SaveModel(item.Id))"></InputNumber></td>
                                <td class=""><InputNumber class="form-control form-rounded listInput text-center" @bind-Value="@item.PricePreDay" placeholder="Model" @onfocusout="@(e => SaveModel(item.Id))"></InputNumber></td>
                                <td class="text-end">
                                    <button class="btn bg-c1 tx-c4 mb-1" @onclick="@(e => DeleteOffer(item.Id))">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="text-center p-5"><h2>@Message</h2></div>
            }
        </Body>
    </Items>
</div>

@code {
    [Inject]
    public IOfferService offerService { get; set; }

    public List<GetOffersQueryVM> Model { get; set; } = new List<GetOffersQueryVM>();

    public string Message { get; set; } = string.Empty;

    public BasePagerFilter Parameters { get; set; } = new BasePagerFilter();

    public string InputClass { get; set; } = string.Empty;
    public int InputClassId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await GetData();
    }

    public async Task PageChange(int newPageNumber)
    {
        if (newPageNumber < 1 || newPageNumber > Parameters.TotalPages)
        {
            return;
        }

        Parameters.Page = newPageNumber;
        await GetData();
    }

    public async Task PageSizeChange(int newPageSize)
    {
        Parameters.PageSize = newPageSize;
        Parameters.Page = 1;
        await GetData();
    }

    public async Task GoSearch(string newSearch)
    {
        Parameters.Search = newSearch;
        Parameters.Page = 1;
        await GetData();
    }

    public async Task GetData()
    {
        Message = "Ładowanie";
        Model.Clear();

        var response = await offerService.GetOffers(new GetOffersQuery()
            {
                Page = Parameters.Page,
                PageSize = Parameters.PageSize,
                Search = Parameters.Search
            });

        if (response.Success)
        {
            Model = response.Data.ToList();
            Parameters.UpdateTotalPages(response.DataCount);
        }
        else
        {
            Model.Clear();
            Parameters.UpdateTotalPages(0);
        }

        Message = response.Message;
    }

    public async Task AddOffer()
    {
        NavManager.NavigateTo("/addoffer");
    }

    public async Task DeleteOffer(int offerId)
    {
        var response = await offerService.DeleteOffer(new DeleteOfferCommand() { Id = offerId });

        if (response.Success)
        {
            await GetData();
        }
    }

    public async Task SaveModel(int offerId)
    {
        var model = Model.FirstOrDefault(o => o.Id == offerId);

        var response = await offerService.EditOffer(new EditOfferCommand()
        {
            Id = model.Id,
            PricePerHour = model.PricePerHour,
            PricePreDay = model.PricePreDay
        });

        InputClass = response.Success ? "bg-success" : "bg-danger";
        InputClassId = offerId;
    }
}
